* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.bg-header {
    background-image: url('img/bg-lp-home.jpg');
    background-position: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 0px;
    min-width: 0px;
}

.logo-header {
    background-image: url('img/logo.png');
    display: flex;
    width: 60vw;
    height: 60vh;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
}

.btn-index {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 4rem;
    background-color: #F7B311;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    border: 1px solid gray;
    font-size: 25px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(10px 10px 10px gray)
}

.btn-index:hover {
    background-color: #F29E02;
}
