* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.bg {
    background-image: url('img/bg-lp-body.jpg');
    background-position: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 0px;
    min-width: 0px;
}

.cimento {
    background-image: url('img/cimento.png');
    display: flex;
    width: 60vw;
    height: 60vh;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;
    top: 27%;
    left: 22%;
    transform: translateX(-50%);
}

.btn-inscreva-se {
    position: absolute;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 3rem;
    background-color: #F7B311;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    border: 1px solid gray;
    font-size: 22px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(10px 10px 10px gray)
}

.btn-inscreva-se:hover {
    background-color: #F29E02;
}

.text {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 18%;
    left: 45%;
    text-align: justify;
    padding-right: 50px;
}

.titulo {
    color: #F7B311;
    font-size: 30px;

}
